@font-face{

    font-family: 'OpenSansRegular';
    src: url('../fonts/OpenSans-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'Comfortaa';
    src : url('../fonts/Comfortaa.ttf');
    font-weight: normal;
    font-style: normal;
}


* {
    margin:0;
    padding:0;
}
ul.hr li {
    display: inline;
}
header {
    background: url('../img/01.jpg') no-repeat;
    background-position: top center;
}
div.promo-block-title {
    color: #fff;
    text-align:center;
    font-size:50px;
    vertical-align: center;
    height:200px;
    margin-top: 300px;
}
p.promo-block-text {
    text-align: center;
    font-size: 30px;
    color: #fff;
}
div.button {
    text-align:center;
    height:150px;
}
.images-inline__item {
    width: 33%;
    display: inline-block;
    font-family: Comfortaa;
}
.images-inline__item-img-wrapper {
    overflow: hidden;
}
.images-inline__item-img-wrapper img {
    /*height: 100%;*/
    width: 100%;
}
.images-inline__item-text {
    font-family: Comfortaa;
}
.button button {
    background-color: white;
    width: 250px;
    height: 50px;
    border: none;
    margin-top: 50px;
    cursor: pointer ;
}
.header-navbar__wrapper {
    padding: 20px;
}
.logo,
.navbar,
.footer-powered {
    display: inline-block
}
.navbar {
    float: right;
}
div.footer-powered {
    float: right;
}
div.centerpart {
    text-align: center;
    margin-top: 60px;
    height:150px;
}
footer {
    padding: 20px;
    margin-top: 20px;
    height: 50px;
    border-top: 2px solid #808080;
}