* {margin:0; padding:0; cursor:pointer;}
ul.hr li {display: inline;}
header {background-image:url("../img/01.jpg"); background-position:center; opacity:0.8;}
h1.promo-block-title {
    color: #fff;
    text-align:center;
    font-size:70px;
    vertical-align:middle;
    height:500px;
}
p.promo-block-text {
    text-align: center;
    font-size: 30px;
    color: #fff;
    }
div.button { 
    text-align:center;
    vertical-align:middle;
    height:150px;
}
